GGEdu_Flow-BookingNotification.json
{
  "name": "GGEdu_Flow-BookingNotification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -32
      ],
      "id": "b3ad596c-d30a-40fd-a34e-4f1b79756fbc",
      "name": "Webhook",
      "webhookId": "ee7f430b-e62e-47ec-b023-34a9ed13832c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec1f3370-e7a3-4158-b3a2-7d456b65d64c",
              "leftValue": "={{$json.body.IsAccepted}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        -32
      ],
      "id": "95b06eb0-665b-4477-a733-4ba81251b922",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const bookingId = $input.first().json.body.BookingId;\nconst startDate = new Date($input.first().json.body.CourseStartDate);\nconst endDate = new Date($input.first().json.body.CourseEndDate);\n\nconst formatDate = (date) => date.toLocaleString('tr-TR', {\n  day: '2-digit', month: 'long', year: 'numeric',\n  hour: '2-digit', minute: '2-digit',\n  timeZone: 'UTC'\n});\n\nreturn [{\n  json: {\n    ...$input.first().json.body,\n    meetingUrl: `https://meet.jit.si/GGEdu-${bookingId}`,\n    formattedStart: formatDate(startDate),\n    formattedEnd: formatDate(endDate),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -48
      ],
      "id": "2649bfcb-2f35-4a7e-9749-4297b39ef2a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "noreply@gmail.com",
        "toEmail": "={{ $json.TeacherEmail }}",
        "subject": "EduFlow - Ders Onaylandı",
        "html": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; background: #f8f7f4; padding: 40px 20px;\">\n  <div style=\"max-width: 520px; margin: 0 auto; background: #fff; border-radius: 16px; border: 1px solid #e2e8f0; overflow: hidden;\">\n    \n    <div style=\"background: linear-gradient(135deg, #1e3a8a, #2563eb); padding: 32px; text-align: center;\">\n      <h1 style=\"color: white; margin: 0; font-size: 22px;\">EduFlow</h1>\n      <p style=\"color: rgba(255,255,255,0.8); margin: 8px 0 0; font-size: 13px;\">Ders Onayı</p>\n    </div>\n\n    <div style=\"padding: 36px 32px;\">\n      <h2 style=\"color: #1a1a2e; font-size: 18px; margin: 0 0 12px;\">\n        Merhaba {{ $json.TeacherFirstName }},\n      </h2>\n      <p style=\"color: #64748b; font-size: 14px; line-height: 1.6; margin: 0 0 24px;\">\n        <strong>{{ $json.StudentFirstName }}</strong> ile olan dersiniz onaylandı.\n      </p>\n\n      <div style=\"background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 12px; padding: 20px; margin-bottom: 24px;\">\n        <table style=\"width: 100%; border-collapse: collapse;\">\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Kurs</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.CourseName }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Öğrenci</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.StudentFirstName }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Başlangıç</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.formattedStart }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Bitiş</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.formattedEnd }}</td>\n          </tr>\n        </table>\n      </div>\n\n      <a href=\"{{ $json.meetingUrl }}\"\n         style=\"display: block; background: #2563eb; color: #fff; text-decoration: none;\n                padding: 14px; border-radius: 10px; text-align: center; font-size: 14px; font-weight: 600;\">\n        Derse Katıl →\n      </a>\n\n      <p style=\"color: #94a3b8; font-size: 12px; margin: 20px 0 0; text-align: center;\">\n        Meeting linki: {{ $json.meetingUrl }}\n      </p>\n    </div>\n\n    <div style=\"background: #f8fafc; border-top: 1px solid #e2e8f0; padding: 16px 32px; text-align: center;\">\n      <p style=\"color: #94a3b8; font-size: 11px; margin: 0;\">© 2025 EduFlow</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        288,
        -144
      ],
      "id": "78643fd0-92db-4dad-bc5d-1e5c2069eabc",
      "name": "Send an Email",
      "webhookId": "bf8edb87-06c4-444b-b81f-e38ce7e97ae4",
      "credentials": {
        "smtp": {
          "id": "RVnwj7tvaLqUEqs6",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -176,
        -48
      ],
      "id": "75072ee8-c088-4549-b6ab-e86dc62acc3e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": false }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -272,
        176
      ],
      "id": "95ce18dd-6975-4b0a-a7d0-0a31b54741c7",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "fromEmail": "noreply@gmail.com",
        "toEmail": "={{ $json.StudentEmail }}",
        "subject": "EduFlow - Ders Onaylandı",
        "html": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; background: #f8f7f4; padding: 40px 20px;\">\n  <div style=\"max-width: 520px; margin: 0 auto; background: #fff; border-radius: 16px; border: 1px solid #e2e8f0; overflow: hidden;\">\n    \n    <div style=\"background: linear-gradient(135deg, #1e3a8a, #2563eb); padding: 32px; text-align: center;\">\n      <h1 style=\"color: white; margin: 0; font-size: 22px;\">EduFlow</h1>\n      <p style=\"color: rgba(255,255,255,0.8); margin: 8px 0 0; font-size: 13px;\">Ders Onayı</p>\n    </div>\n\n    <div style=\"padding: 36px 32px;\">\n      <h2 style=\"color: #1a1a2e; font-size: 18px; margin: 0 0 12px;\">\n        Merhaba {{ $json.StudentFirstName }},\n      </h2>\n      <p style=\"color: #64748b; font-size: 14px; line-height: 1.6; margin: 0 0 24px;\">\n        <strong>{{ $json.TeacherFirstName }}</strong> ile olan dersiniz onaylandı.\n      </p>\n\n      <div style=\"background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 12px; padding: 20px; margin-bottom: 24px;\">\n        <table style=\"width: 100%; border-collapse: collapse;\">\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Kurs</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.CourseName }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Öğrenci</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.StudentFirstName }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Başlangıç</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.formattedStart }}</td>\n          </tr>\n          <tr>\n            <td style=\"padding: 6px 0; color: #94a3b8; font-size: 13px;\">Bitiş</td>\n            <td style=\"padding: 6px 0; color: #1a1a2e; font-size: 13px; font-weight: 600; text-align: right;\">{{ $json.formattedEnd }}</td>\n          </tr>\n        </table>\n      </div>\n\n      <a href=\"{{ $json.meetingUrl }}\"\n         style=\"display: block; background: #2563eb; color: #fff; text-decoration: none;\n                padding: 14px; border-radius: 10px; text-align: center; font-size: 14px; font-weight: 600;\">\n        Derse Katıl →\n      </a>\n\n      <p style=\"color: #94a3b8; font-size: 12px; margin: 20px 0 0; text-align: center;\">\n        Meeting linki: {{ $json.meetingUrl }}\n      </p>\n    </div>\n\n    <div style=\"background: #f8fafc; border-top: 1px solid #e2e8f0; padding: 16px 32px; text-align: center;\">\n      <p style=\"color: #94a3b8; font-size: 11px; margin: 0;\">© 2025 EduFlow</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        288,
        32
      ],
      "id": "e928782e-ba40-46a7-ab0b-6b8bb5be7637",
      "name": "Send an Email1",
      "webhookId": "bf8edb87-06c4-444b-b81f-e38ce7e97ae4",
      "credentials": {
        "smtp": {
          "id": "RVnwj7tvaLqUEqs6",
          "name": "SMTP account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "085f4196-a161-4b4b-aca8-3d973b5ca93f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efb454df91df3676edc71e596456dc4a8d87897bd936e45bdced8fff39bb67a4"
  },
  "nodeGroups": [],
  "id": "ieHh31RQVh6Fr4yD",
  "tags": []
}